{{define "actus"}}

<head>
    <link rel="stylesheet" href="../static/css/actus.css">
</head>

    <div class="zoneactus">
        <h2 class="fil_actu">Fil d'actu</h2>
        <div class="zone">
            <i class="utilisateur"> @Olivia</i>
            <p class="titre">J'aime la pizza</p>
        </div>
        <div class="lepost">J'adore la pizza c'est bon comme bonne bouffe en sah</div>

        <hr>

        <div class="zone">
            <i class="utilisateur"> @Matheo</i>
            <p class="titre">J'aime pas la pizza</p>
        </div>
        <div class="lepost">J'adore la pizza c'est bon comme bonne bouffe en sah</div>

        <hr>

        <div class="zone">
            <i class="utilisateur"> @L1</i>
            <p class="titre">J'aime la pizza</p>
        </div>
        <div class="lepost">J'adore la pizza c'est bon comme bonne bouffe en sah</div>
    </div>

{{end}}