{{define "boutton_all_categories"}}

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../static/css/all_categories.css">
        <style type="text/css">a:link{text-decoration:none}</style>
    </head>
    <body>
        <div  class="buttonall"></div>
            <a class="" href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <h1 class="Bouton_categories" contenteditable spellcheck="false">Toutes les catégories !</h1>
            </a>
        </div>
    </body>
</html>
{{end}}