{{define "boutton_all_categories"}}

<head>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/bouton_all_categories.css">
</head>

    <div class="buttonall"></div>
    <a class="btn" href="/categories">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <h1 class="Bouton_categories">Toutes les catégories</h1>
    </a>
    </div>
{{end}}