<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/error.css">
    <title>Document</title>
</head>
<body>
    <p class="text1">ERROR404</p>
    <p class="text2">ERROR404</p>
    <p class="text3">ERROR404</p>
    <p class="text4">ERROR404</p>
    <p class="text5">ERROR404</p>
    <p class="text6">ERROR404</p>
    <p class="text7">ERROR404</p>
    <p class="text8">ERROR404</p>
    <div class="box">
    <div class="gaster">
      <div class="ghead">
        <div class="eyL">
          <div class="clean"></div>
          <div class="it1"></div>
        </div>
        <div class="eyR">
          <div class="it1"></div>
        </div>
        <div class="mouth">
          <div class="it1"></div>
          <div class="it2"></div>
        </div>
        <div class="scar1">
          <div class="it1"></div>
        </div>
        <div class="scar2">
          <div class="it1"></div>
          <div class="it2"></div>
          <div class="it3"></div>
          <div class="it4"></div>
        </div>
      </div>
      <div class="armL">
        <div class="hole"></div>
        <div class="fing1"></div>
        <div class="fing2"></div>
        <div class="fing3"></div>
        <div class="fing4"></div>
        <div class="fing5"></div>
      </div>
  
  
    </div>
    </div>
  </body>
</html>