{{define "header"}}

<head>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/header.css">
    <link rel="stylesheet" href="../../static/css/logout.css">
    <link rel="shortcut icon" href="../static/images/icon.png">

</head>

    <div class="home_content">
        <div class="text">
            <h1 class="Forum">Forum</h1>
        </div>
        <div class="button">
            {{ if .}}
            <a class="active" href="/deconnexion">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <!-- Logout -->
                Logout
                <i class='bx bxs-log-out'></i>
            </a>

            {{ else }}
            <!-- add "active" class to a for login or logout -->
            <a class="" href="/connexion">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <!-- Login -->
                Login
                <i class='bx bxs-log-in'></i>
                <!-- Logout -->
                <!-- <i class='bx bxs-log-out'></i> -->
            </a>
            {{end}}
        </div>
    </div>
{{end}}