{{define "sidebar"}}

<head>
    <link rel="stylesheet" href="../../static/css/sidebar.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
</head>

    <!-- SideBar Menu -->
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <div class="logo_name">Menu</div>
            </div>
            <i class='bx bx-menu' style='color:#ffffff' id="btn"></i>
        </div>
        <ul class="nav_list">
            <li>
                <a href="/">
                    <i class='bx bxs-home'></i>
                    <span class="links_name">Accueil</span>
                </a>
                <span class="tooltip">Accueil</span>
            </li>
            <li>
                <a href="/categories">
                    <i class='bx bxs-category'></i>
                    <span class="links_name">Catégories</span>
                </a>
                <span class="tooltip">Catégories</span>
            </li>
            {{ if .}}
            <li>
                <a href="/likes">
                    <i class='bx bxs-like'></i>
                    <span class="links_name">Posts Likés</span>
                </a>
                <span class="tooltip">Posts Likés</span>
            </li>
            {{end}}
        </ul>
    </div>
    <!-- SideBar Menu End -->

    <script src="../static/js/sidebar.js"></script>
{{end}}