body {
    background: #303841;
}

.Toutelescategories {
    position: relative;
    text-align: center;
    left: 50px;
    top: 200px;
}

.Toutelescategories h2 {
    color: white;
    text-transform: uppercase;
}

.lescategories {
    background-color: #FF5722;
    position: relative;
    top: 250px;
    left: 300px;
    height: 450px;
    width: 900px;
    border-radius: 8%;
    overflow: scroll;
}   

.categorie {
    color: #ffffff;
    cursor: pointer;
    flex-direction: row;
    flex-flow: wrap;
    /*align-content: space-between;*/
    font-size: 180%;
}

.link {
    text-decoration: none;
}