body {
    background: #303841;
}

.Toutelescategories {
    position: relative;
    text-align: center;
    left: 50px;
    top: 200px;
}

.Toutelescategories h2 {
    text-transform: uppercase;
}

.lescategories {
    background-color: #FF5722;
    position: relative;
    top: 295px;
    left: 350px;
    height: 450px;
    width: 900px;
    border-radius: 8%;
}   

.one-categoris {
    text-decoration: none;
    text-align: center;
    text-align-top: center;
}

.lescategories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
