* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    font-family: 'Concert One', cursive;
}

.wrapper {
    position: fixed;
    border-radius: 15px;
    max-width: 475px;
    left: 942px;
    top: 460px;
    padding: 15px 25px 15px 25px;
    width: 100%;
    background: #00ADB5;
    border-bottom: black;
    border-top: black;
    border-left: black;
    border-right: black;
    border-style: solid;
    display: none;
    z-index: 501;
}

.wrapper h1 {
    position: relative;
    color: white;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

.input-box {
    border-bottom: 1px solid #e6e6e6;
    padding-top: 10px;
}

.input-box .tweet-area {
    position: relative;
    min-height: 50px;
    color: white;
}

.tweet-area .placeholder {
    position: absolute;
    margin-top: -3px;
    font-size: 22px;
    color: #98a5b1;
    pointer-events: none;
}

.tweet-area .input {
    outline: none;
    font-size: 17px;
    word-wrap: break-word;
}

textarea {
    outline: none;
    border-top-style: hidden;
    border-bottom-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    background: white;
    min-height: 100px;
    max-height: 200px;
    resize: auto;
    min-width: 425px;
    max-width: 425px;
    padding: 20px;
    color: black;
    font-size: 20px;
    border-radius: 30px;
    text-align: center;
    font-family: 'Concert One', cursive;
}

.tweet-area .readonly {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.input-box .privacy {
    color: #1da1f2;
    margin: 15px 0;
    display: inline-flex;
    align-items: center;
    border-radius: 50px;
    transition: background 0.2s ease;
}

.input-box .privacy:hover,
.icons li:hover {
    background: #e7f5fe;
}

.privacy i {
    font-size: 18px;
}

.privacy span {
    font-size: 15px;
    font-weight: 600;
    margin-left: 7px;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 13px;
}

.bottom .icons {
    display: inline-flex;
}

.icons li {
    color: #1da1f2;
    list-style: none;
    height: 38px;
    width: 38px;
    margin: 0 2px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.bottom .content {
    display: flex;
    align-items: center;
}

.content button {
    padding: 9px 18px;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    background: #FF5722;
    color: #fff;
    cursor: pointer;
}