:root {
    --blue: #00adb5;
    --dark: #303841;
    --orange:#ff5722;
    --white:#eeeeee;
}
button {
    background-color: var(--white);
    color:var(--blue);
    border:none;
    padding:5px;
    transition:0.5s;
}
button:hover{
    background-color: var(--dark);
    text-decoration:underline;
    box-shadow: 3px 3px 6px  var(--white);
}

body {
    background-color: var(--blue);
}