body {
    background-color: #303841;
    padding-left: 100px;
}

.id{
    position: inherit;
    display: flex;
}

.posts {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: auto;
    position: relative;
    top: 200px;
    left: 33%;
    justify-content: center;
    background-color: #FF5722;
    border-radius: 30px;
}

.Title{
    font-size: 30px;
    padding-bottom: 10px;
    display: flex;
    position: relative;
    text-align: center;
    top: 200px;
    left: 670px;
    color: white;
}
.likedTopic{
    border-bottom: #00adb5;
    border-top: #00adb5;
    border-left: #00adb5;
    border-right: #00adb5;
    border-style: solid;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.textComment{
    padding-left:-1000px; 
    font-size: 30px;
    display:block ruby;
}

.topicLink{
    position: inherit;
    padding-left: -800px;
    margin-top: 70px;
    display: flex;
}
.content{
    width: 500px;
    position:inherit;
    padding-top: 10px;
}
.scroller {
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}

.scroller {
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}