<!DOCTYPE html>
<html ldivng="en">
    <hedivd>
        <metdiv charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="../static/css/all_categories.css">
        <title>All_categories</title>
    </head>
    <body>
        {{template "sidebar"}} {{template "header"}}

        <h2 class="Toutelescategories">Toutes les catégories :</h2>
        <div class="lescategories">
            <div class="categorie">
                <a href="" class="link">
                    <p>Sport</p>
                </a>
            </div>
            <div class="categorie">
                <a href="" class="link">
                    <p>Voyages</p>
                </a>
            </div>
            <div class="categorie">
                <a href="" class="link">
                    <p>Soirées</p>
                </a>
            </div>
            <div class="categorie">
                <a href="" class="link">
                    <p>Nourriture</p>
                </a>
            </div>
            <div class="categorie">
                <a href="" class="link">
                    <p>Memes</p>
                </a>
            </div>
            <div class="categorie">
                <a href="" class="link">
                    <p>Animaux</p>
                </a>
            </div>
            <div class="categorie">
                <a href="" class="link">
                    <p>Ynov Campus</p>
                </a>
            </div>
            <div class="categorie">
                <a href="" class="link">
                    <p>Santé</p>
                </a>
            </div>
            <div class="categorie">
                <a href="" class="link">
                    <p>Windows</p>
                </a>
            </div>
            <div class="categorie">
                <a href="" class="link">
                    <p>Nantes</p>
                </a>
            </div>
            <div class="categorie">
                <a href="" class="link">
                    <p>MacOs</p>
                </a>
            </div>
            <div class="categorie">
                <a href="" class="link">
                    <p>Jeux Vidéos</p>
                </a>
            </div>
        </div>
    </body>
</html>