<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../static/css/all_categories.css">
        <link rel="stylesheet" href="../../static/css/header.css">
        <title>Home</title>
    </head>
    <body>
        <div class="buttonall">
            <div  class="button"></div>
                <a class="" href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Toute les catégories
                    <i class=''></i>
                </a>
            </div>
        </div>
    </body>
</html>