<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Commentaires</title>
    </head>
    <body>
        <h1>COMMENTAIRES</h1>
        {{range .Comments}}
            <p class="subject">{{.Content}}</p>
            <p class="author">@{{.User_pseudo}}</p>
        <br> {{end}}

        <div id="box_">
            <form action="/commentaires" method="post" id="form">
                <h1 id="erreur">Votre commentaire : </h1>
                <input class="post_topic" type="text" name="comment" required>
                <button type="submit">ENvoie</button>
            </form>
        </div>
    </body>
</html>