<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/home.css">
        <script src="../scripts/display.js" defer></script>
        <title>Acceuil</title>
    </head>

    <body>
        <div class="title">
            <div class="rectangle">
                <h1>Forum du Ced</h1>
            </div>
        </div>

        <div class="zoneactus">
            <h2>Fil d'actu</h2>
            <div class="zone">
                <p class="utilisateur"> @Olivia</p>
                <p class="titre">J'aime la pizza</p>
            </div>
                <div class="lepost" >J'adore la pizza c'est bon comme bonne bouffe en sah</div>
            <div class="zone">
                <p class="utilisateur"> @Matheo</p>
                <p class="titre">J'aime pas la pizza</p>
            </div>
                <div class="lepost" >J'adore la pizza c'est bon comme bonne bouffe en sah</div>
            <div class="zone">
                <p class="utilisateur"> @L1</p>
                <p class="titre">J'aime la pizza</p>
            </div>
                <div class="lepost" >J'adore la pizza c'est bon comme bonne bouffe en sah</div>
        </div>

    </body>
</html>