<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="shortcut icon" href="../static/images/icon.png">

    <title>Home</title>
</head>

<body class="scroller">
    {{template "sidebar" .UserConnected.Connected}} {{template "header" .UserConnected.Connected}}
    <div class="actus" >{{template "actus" .}}</div>
    <div class="buttonall1">{{template "boutton_all_categories"}}</div>
</body>

</html>