<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/inscription.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <title>Document</title>
</head>

<body>
    {{template "sidebar"}} {{template "header"}}
    <form action="">
        <div class="connexion">
            <div class="login-form">
                <h1>Inscription</h1>
                <div class="textb">
                    <input type="text" required>
                    <div class="placeholder">Pseudo</div>
                </div>
                <div class="textb">
                    <input type="text" required>
                    <div class="placeholder">Email</div>
                </div>
                <div class="textb">
                    <input type="password" required id="myInput">
                    <div class="placeholder">Mot de passe</div>
                    <span onclick="showPassword()">
                        <div class="show-password fas fa-eye-slash" id="slash"></div>
                        <div class="show-password fas fa-eye" id="eye"></div>
                    </span>
                </div>
                <div class="textb">
                    <input type="password" required id="myInput2">
                    <div class="placeholder">Confirmation du mot de passe</div>
                    <span onclick="showPasswordConfirm()">
                        <div class="show-password fas fa-eye-slash" id="slash2"></div>
                        <div class="show-password fas fa-eye" id="eye2"></div>
                    </span>
                </div>
                <a href="">Déjà inscrit ? <br> Connecte-toi</a>
                <div class="button_login">
                    <a class="" href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span> Register
                        <i class='bx bxs-user-account'></i>
                    </a>
                </div>
            </div>
        </div>
    </form>

    <script src="../static/js/showPassword.js"></script>
</body>

</html>