<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/oneCategory.css">
    <title>Document</title>
</head>

<body>
    {{template "sidebar"}} {{template "header"}}

    <div class="title">
        <h1>Catégorie :
            <!-- {{.}} -->
        </h1>
    </div>
    <div class="bloc">
        <div class="topic">
            <a href="" class="link">
                <div class="logo">
                    <i class='bx bxs-message-square-edit'></i>
                </div>
                <p class="subject">J'aime les frites</p>
                <p class="author">@Oliv</p>
            </a>
        </div>
        <br>
        <div class="topic">
            <a href="" class="link">
                <div class="logo">
                    <i class='bx bxs-message-square-edit'></i>
                </div>
                <p class="subject">ZEBI j'ai faim</p>
                <p class="author">@L1</p>
            </a>
        </div>
        <br>
        <div class="topic">
            <a href="" class="link">
                <div class="logo">
                    <i class='bx bxs-message-square-edit'></i>
                </div>
                <p class="subject">BRUh</p>
                <p class="author">@rgsfxfgfdf</p>
            </a>
        </div>
    </div>
</body>

</html>