<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/oneCategory.css">
    <link rel="stylesheet" href="../static/css/popup.css">
    <link rel="stylesheet" href="../static/css/popupError.css">
    <link rel="shortcut icon" href="../static/images/icon.png">

    <title>Catégorie {{.Category}}</title>
</head>

<body>
    {{template "sidebar" .UserConnected.Connected}} {{template "header" .UserConnected.Connected}}
    <div class="title">
        <h1 class="textTitle">Catégorie : {{.Category}}
        </h1>
    </div>
    <div class="bloc">
        {{range .Topics}}
        <div class="topic">
            <a href="/topic?top={{.ID}}" class="link">
                <div class="logo">
                    <i class='bx bxs-message-detail'></i>
                </div>
                <p class="subject">{{.Title}}</p>
                <p class="author">@{{.User_pseudo}}</p>
            </a>
        </div>
        <br> {{end}}
    </div>

    <div id="box_">
        <i class='bx bxs-message-rounded-edit'></i>
        <form action="/oneCategory?cat={{.CategoryID}}" method="post" id="form">
            <h1 id="erreur">Titre du topic : </h1>
            <input class="titre_topic" type="text" name="titre" required>
            <h1 id="erreur">Post : </h1>
            <input class="post_topic" type="text" name="post" required>
            <a onclick="closesPopup()" class="close">Fermer</a>
            <a onclick="formSubmit()" class="post">Poster</a>
        </form>
    </div>
    <div class="button_">
        <a class="btn" onclick="openPopup()"><i class='bx bxs-message-rounded-edit'></i> Nouveau Topic</a>
    </div>
    {{if .Error}}
    <div id="box">
        <i class='bx bxs-info-circle' style='color:#f58900'></i>
        <h1 id="erreur">Erreur : {{.Error}}</h1>
        <a onclick="closes()" class="close">Fermer</a>
    </div>
    {{end}}
    <script src="../static/js/popup.js"></script>
    <script src="../static/js/login&register.js"></script>
</body>

</html>