<!DOCTYPE html>
<html lang="en" class="scroller ">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/css/topic.css">
    <title>Topic</title>
</head>

<body>
    {{template "sidebar"}} {{template "header"}}
    <h1>category</h1>
    <h1 class="sujet">NOM DU SUJET</h1>
    <div class="topic">

        <div class="one_topic">

            <div class="description_topic borderTitle">
                <div class="id">
                    <div class="photo_profile">pp</div>
                    <div class="pseudo">@pseudo</div>
                </div>
                J’aime beaucoup le tennis car cela musle un bras et j’aime ne pas etre symetrique, de plus je veux etre
                mastoc a un seul endroit mdr.
            </div>
            <hr class="ligne">
            <div class="commentaire_topic borderComment">
                <div class="id">
                    <div class="photo_profile">pp</div>
                    <div class="pseudo">@pseudo</div>
                </div>
                <p class="textComment">@Olive Moi aussi j’aime bien !</p>
                <div class="boutons">
                    <button class="like"><img src="static\images\like_vide.png" alt="like vide"></button>


                    <button class="reponse" onclick="createDiv()">réponses</button>

                    
                </div>
                <div class="commentaire" id="visible" style="display:null">
                    <div class="vl"></div>
                    <div class="commentaryZone">
                        <div class="id">
                            <div class="photo_profile">pp</div>
                            <div class="pseudo">@pseudo</div>
                        </div>Je trouve ce post vraiment hyper intéressent </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/Comments.js"></script>
</body>

</html>