<!DOCTYPE html>
<html lang="en" class="scroller ">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/css/topic.css">
    <title>Topic</title>
</head>

<body id="body">

    {{template "sidebar"}} {{template "header"}} {{template "boxpost"}} {{template "boxComment"}}

    <h1 class="categorie">CATÉGORIE : {{.Topic.Category_name}}</h1>
    <h1 class="sujet">NOM DU SUJET : {{.Topic.Title}}</h1>

    <div class="btn">
        <button onclick="openAndClose()">Répondre</button>
    </div>
    <div class="topic">

        <div class="one_topic" id="topic">

            <div class="description_topic borderTitle">
                <div class="id">
                    <div class="photo_profile">pp</div>
                    <div class="pseudo">{{.Topic.User_pseudo}}</div>
                </div>
                {{.Topic.Content}}
            </div>
            <hr class="ligne">


            {{range .Posts}}
            <div class="commentaire_topic borderComment">
                <div class="id">
                    <div class="photo_profile">pp</div>
                    <div class="pseudo">{{.User_pseudo}}</div>
                </div>
                <p class="textComment">{{.Content}}</p>
                <div class="boutons">
                    <button class="like"><img src="static\images\like_vide.png" alt="like vide"></button>
                    <button class="reponse" onclick="createDiv()">Voir les réponses ({{.NumberComments}})</button>

                </div>
                <div class="btn_comm">
                    <button onclick="openAndClose_()">Répondre</button>
                </div>
                

                <div class="commentaire" id="visible" style="display:none">
                    {{range .Comments}}
                    <div class="commentaryZone">
                        <div class="id">
                            <div class="photo_profile">pp</div>
                            <div class="pseudo">{{.User_pseudo}}</div>
                        </div>
                            {{.Content}}
                    </div>
                    {{end}}
                </div>
            </div>
            {{end}}
        </div>
    </div>
    <script src="../static/js/Comments.js"></script>
    <script src="../static/js/popup.js"></script>
</body>
</html>