<!DOCTYPE html>
<html lang="en" class="scroller ">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/css/topic.css">
    <link rel="stylesheet" href="../static/css/boxComm.css">
    <link rel="stylesheet" href="../static/css/popupError.css">
    <link rel="shortcut icon" href="../static/images/icon.png">
    <title>Topic</title>
</head>

<body id="body">

    {{template "sidebar" .UserConnected.Connected}} {{template "header" .UserConnected.Connected}} {{template "boxpost" .Topic}}

    <h1 class="categorie">CATÉGORIE : {{.Topic.Category_name}}</h1>
    <h1 class="sujet">NOM DU SUJET : {{.Topic.Title}}</h1>
    {{if .ErrorMessage}}
    <div id="box">
        <i class='bx bxs-info-circle' style='color:#f58900'></i>
        <h1 id="erreur">Erreur : {{.ErrorMessage}}</h1>
        <a onclick="closes()" class="close">Fermer</a>
    </div>
    {{end}}
    <div class="btn">
        <button onclick="openAndClose()" class="button">Répondre</button>
    </div>
    <div class="topic">

        <div class="one_topic" id="topic">

            <div class="description_topic borderTitle">
                <div class="id">
                    <div class="photo_profile">pp</div>
                    <div class="pseudo">{{.Topic.User_pseudo}}</div>
                </div>
                {{.Topic.Content}}
            </div>
            <hr class="ligne"> {{range .Posts}}
            <div class="commentaire_topic borderComment">
                <div class="id">
                    <div class="photo_profile">pp</div>
                    <div class="pseudo">{{.User_pseudo}}</div>
                </div>
                <p class="textComment">{{.Content}}</p>
                <div class="boutons">
                    <form action="" method="POST">
                        <input hidden name="post_id" value="{{.ID}}">
                        <input hidden name="like" value=0>
                        {{if .UserLiked}}
                    <button type="submit" name="status" value="1" class="like"><img src="static\images\like_plein.png" alt="like plein">{{.NumberLikes}}</button>
                        {{else}}
                    <button type="submit" name="status" value="1" class="like"><img src="static\images\like_vide.png" alt="like vide">{{.NumberLikes}}</button>
                        {{end}}

                        {{if .UserDisliked}}
                    <button type="submit" name="status" value="-1" class="dislike"><img src="static\images\dislike_plein.png" alt="like plein">{{.NumberDislikes}}</button>
                        {{else}}
                    <button type="submit" name="status" value="-1" class="dislike"><img src="static\images\dislike_vide.png" alt="like vide">{{.NumberDislikes}}</button>
                        {{end}}
                </form>
                    <button class="reponse" onclick="createDiv('{{.ID}}')">Voir les réponses ({{.NumberComments}})</button>

                </div>
                <div class="btn_comm">
                    <button onclick="openAndClose_('{{.ID}}')">Répondre</button>
                </div>
                <form action="" method="post">
                    <div class="wrapper_" id="wrapper_{{.ID}}">
                        <h1>Répondre à @{{.User_pseudo}}:</h1>
                        <div class="input-box_">
                            <div class="tweet-area_">
                                <input hidden name="postID" value="{{.ID}}">
                                <textarea class="textarea" name="Comment" id="" cols="20" rows="1"></textarea>
                            </div>
                            <div class="privacy"></div>
                        </div>
                        <div class="bottom">
                            <ul class="icons"></ul>
                            <div class="content_">
                                <button type="submit">POST !</button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="commentaire" id="visible_{{.ID}}" style="display:none">
                    {{range .Comments}}
                    <div class="commentaryZone">
                        <div class="id">
                            <div class="photo_profile">pp</div>
                            <div class="pseudo">{{.User_pseudo}}</div>
                        </div>
                            {{.Content}}

                    </div>
                    {{end}}
                </div>
            </div>
            {{end}}
        </div>
    </div>

    <script src="../static/js/Comments.js"></script>
    <script src="../static/js/popup.js"></script>
</body>

</html>